/* 滚动条美化 */
 ::-webkit-scrollbar-track-piece {
    background-color: transparent;
}
::-webkit-scrollbar {
    width: 9px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(192, 199, 210);
    -webkit-border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #9f9f9f;
}
::-webkit-scrollbar-arrow {
    color: #F00;
    backgound: #0F0;
}

body {
    cursor: url(../img/b.cur), default;
}
a:hover {
    cursor: url(../img/a.cur), pointer;
}